/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}


/* Helper Classes */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.primary-text {
    color: var(--primary-text);
}

.secondary-text {
    color: var(--secondary-text);
}

.light-text {
    color: var(--light-blue);
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.mb-2 {
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 300;
}

#Container {
    height: 100vh;
    width: 100vw;
    align-items: stretch;
    background-color: var(--primary-blue);
    overflow: hidden;
    background-size: cover;
    background-image: url("https://image.freepik.com/free-photo/texture-background_1404-99.jpg");
}

#mainContent {
    width: 100%;
    justify-content: center;
}


/* Header */

header {
    height: 150px;
    background-color: var(--dark-blue);
    width: 100%;
    color: white;
}

header .container {
    height: 100%;
    align-items: left;
}


/* Login */

#login {
    padding: 40px 100px;
    border: 0 20px 20px white;
    margin-top: -60px;
    border-radius: 0px;
    height: 110%;
    background-color: orchid;
    border-left: 6px solid white;
    border-right: 6px solid white;
}

img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

#loginForm {
    margin-top: 20px;
    position: relative;
    left: 100px;
}


/* Form Elements */

input {
    height: 40px;
    padding: 10px;
    background-color: var(--light-blue);
    border: none;
    color: var(--secondary-text);
}

#sendBtn {
    height: 40px;
    padding: 0 15px;
    background-color: var(--primary-blue);
}


/* Chat */

#chat {
    /* background-image: url(""); */
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
    margin: 25px 0;
    height: 40px;
    width: 600px;
    overflow-y: scroll;
    background-color: orchid;
    margin-bottom: 3px;
    margin-top: 5px;
    border-left: 6px solid white;
    border-right: 6px solid white;
}

#messageForm {
    margin-bottom: 25px;
}

.message {
    background-color: var(--primary-blue);
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
    border-radius: .4em;
}

.message-right {
    background: var(--light-blue);
    color: var(--primary-text);
    margin-left: 20%;
}

.message-right .message-date {
    color: var(--primary-text);
}

.message-details {
    margin-bottom: 5px;
}

.message-author {
    font-weight: 800;
}

.message-date {
    font-weight: 100;
    font-size: 14px;
}

.message-content {
    font-weight: 100;
}


/* #users {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    position: relative;
    right: 50%;
    width: 40%;
    top: 30%;
} */


/* Variabls */

:root {
    --primary-blue: white;
    --dark-blue: rgb(230, 134, 233);
    --light-blue: white;
    --white: black;
    --secondary-text: black;
    --light-gray: black;
}